fastapi
pydantic
uvicorn
aiohttp
python-dotenv
python-dateutil
pytz
undetected-chromedriver
selenium
supabase
openai==1.40.0
Pillow
selenium-stealth
playwright
playwright-stealth
pyvirtualdisplay
websockets
httpx==0.27.2