fastapi
pydantic
uvicorn
aiohttp
python-dotenv
python-dateutil
pytz
undetected-chromedriver
selenium
supabase
openai==1.35.8
Pillow
selenium-stealth
playwright
playwright-stealth
pyvirtualdisplay
websockets